/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  color: var(--accent-color);
  background: var(--body-pattern, none);
  background-color: var(--bg-color, #fff);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--main-card-font-weight, 400);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--accent-color);
  margin-block: 100px;
  padding-block: clamp(120px, 117.18px + 0.75vw, 128px);
  font-family: var(--accent-font);
  background-color: var(--bg-color);
}

.header__title {
  white-space: nowrap;
  font-weight: 400;
  margin-top: 20px;
  font-size: clamp(14px, 10.83px + 0.85vw, 23px);
  text-transform: uppercase;
}

.header__logo {
  font-size: clamp(49px, 43.37px + 1.50vw, 65px);
  font-weight: 400;
  text-transform: uppercase;
}

.page__section {
  background-color: var(--bg-color);
  inline-size: min(100vi, 700px);
  margin-inline: auto;
}

.card {
  font-size: 18px;
  margin-block-end: 52px;
}

.card__title {
  font-variation-settings: 'wght' var(--card-title-fw, 700);
  font-size: inherit;
  padding-block: 5px;
  padding-inline: 10px;
  border: 2px solid var(--accent-color);
  border-block-end: none;
}

.card__image-container {
  position: relative;
  overflow: hidden;
  aspect-ratio: 1/1;
}

.card__label {
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  color: #000;
  font-family: var(--accent-font);
  font-size: 14px;
  text-shadow: 0 0 1px var(--text-stroke-color);
  inset-block-start: 25px;
  inset-inline-end: clamp(0.8125rem, 0.5484rem + 1.1268vw, 1.5625rem);
  mix-blend-mode: hard-light;
}

@supports (-webkit-text-stroke: 1px var(--text-stroke-color)) {
  .card__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
}

.card__image {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.paragraph {
  max-inline-size: 646px; 
}

.card__description {
  border: 2px solid var(--accent-color);
  border-block-start: none;
  padding: 25px;
}

.card__description p:nth-child(1) {
  margin-block-end: 25px;
}
.card__description p:nth-child(2) {
  margin-block-end: 22px;
}

.controls {
  display: flex;
  justify-content: end;
  column-gap: 4px;
}

.button {
  position: relative;
  border: 2px solid var(--accent-color);
  overflow: hidden;
  color: var(--button-text-color);
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  background-color: var(--bg-color);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
  padding-block-end: 4px;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  transition: translate 0.5s ease-in-out;
  transition-behavior: normal;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  transition-property: translate;
  translate: -100%;
}

.button:hover::before {
  translate: 0;
}

.button__text {
  position: relative;
  mix-blend-mode: difference;
  color: var(--bg-color);
}

.card__icon-button {
  background-color: transparent;
  border: 2px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 38px;
}

.card__icon-button:focus-visible {
  border-color:  var(--accent-color);
  transition: border-color 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.button_type_save {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto 100px;
  gap: 8px;
  inline-size: 335px;
  block-size: 55px;

}

.button_type_save svg {
  position: relative;
  block-size: 21px;
  color: var(--bg-color);
}

.popup {
  inline-size: 353px;
  min-block-size: 191px;
  border: 2px solid var(--accent-color);
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  background-color: var(--bg-color);
  padding: 30px;
}

.popup[open] {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  gap: 30px 20px;
}

.popup[open]::backdrop {
  background-color: rgb(0, 0, 0 / 0.75);
}

.popup__close-button {
  width: 100%;
  block-size: 38px;
}

.popup__icon {
  position: relative;
  display: block;
  block-size: 39px;
  inline-size: 39px;
  margin-block-end: 1px;
  transition: color 1s ease;
  z-index: 1;
}

.popup__controller {
  grid-column: 1/-1;
}

@media (width <= 376px) {
  .button_type_save {
    flex-direction: column;
    inline-size: 310px;
    block-size: 84px;
    gap: 8px;
  }

  .paragraph {
    max-inline-size: 321px;
}

  .card__description p:nth-child(1) {
    margin-block-end: 21px;
}

  .button_type_save svg {
    block-size: 32px;
  }

  .popup {
    inline-size: 100%;
    padding: 30px 40px;
  }

  .pivo {
    max-inline-size: 317px;
  }
}

.filter-1 {
  filter: grayscale(70%);
}

.filter-3 {
  filter: contrast(50%) hue-rotate(35deg) saturate(130%);
}

.filter-2 {
  filter: saturate(250%);
}

.filter-4 {
  filter: hue-rotate(210deg);
}

.filter-7 {
  filter: invert(100%);
}

.filter-5 {
  filter: sepia(90%);
}

.filter-6 {
  filter: blur(10px);
}